@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-image: linear-gradient(270deg,rgb(41, 133, 238),rgba(23, 46, 73, 0.925));
}
.wrapper {
    margin-top: 5rem!important;
    padding: 5rem;
    width: 50%;
    height: 70vh;
    background-color: rgb(232, 240, 247);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.596);
}
.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(38, 120, 228);
}
.todoForm {
    padding: 5rem;
}

.showTasks {
    margin-top: 2rem;
    margin-left: 0px;
    padding-top: 1.5rem!important;
    height: 20vh;
    text-align: left;
    border-radius: 20px 20px 20px;
    background-color: white;
}

.showTasks ul li {
    list-style-type: none;
}

/* input:checked {
    
} */

span.done-true {
    color: grey;
    text-decoration: line-through!important;
}